.itemListContainer-tittle{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3.5rem;
    font-weight: bolder;
    color:  #009245;
    text-align: center;
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #009245;
  }

.loader,
.loader:before,
.loader:after {
  background: #FFF;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  margin: 40% auto;
  position: relative;
  font-size: 11px;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  animation-delay: 0.32s;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}