.navBar-container{
    background-color: white;
    margin:0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #c5cbc6;
}
.navBar-logo{
    width: 20%;
}
.navBar-logo img{
    width: 50%;
}
.navBar-options{
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
.navBar-options li{
    margin-right: 10px;
    margin-left: 10px;
}
.navBar-options li a{
    color: #39B54A;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
}
.navBar-options li a:hover{
    color: #009245;
}