.navContainer{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: white;
    box-shadow: 0 5px 15px gray;
  }
.navContainer-logo{
    width: 20%;
    text-align: start;
}
.navContainer-logo img{
    width: 150px;
}
.navContainer-links{
    text-align: center;
}
.navContainer-links a{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 10px;
  text-decoration: none;
  color: #009244;
  padding: 5px 0;
  
}
.navContainer-links a:hover{
  color: #046632;
  
}
.navContainer-links.active{
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.navContainer-links.active a{
  margin: 30px;
  font-size: 25px;
}
.navContainer-cart{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navContainer-hamburMenu{
    width: 50px;
    z-index: 101;
}
@media (min-width:768px){
  .navContainer-hamburMenu{
    display: none;
  }
}
@media (max-width:768px) {
  .navContainer-logo{
    display: none;
  }
  .navContainer-links{
    display: none;
  }
  .navContainer-cart{
    justify-content: start;
  }
}