.navBar-container{
    background-color: white;
    margin:0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #c5cbc6;
}
.navBar-logo{
    width: 150px;
}
.navBar-logo img{
    width: 100%;
}
.navBar-options{
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
.navBar-options li{
    margin-right: 10px;
    margin-left: 10px;
}
.navBar-optionsEnlace{
    color: #39B54A;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
}
.navBar-optionsEnlaceActivo{
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
    color: #009245;    
}