.itemCount-stock{
    margin:10px 0;
}
.itemCount-buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCount-buttonContainer p{
    margin: 15px 40px;
}
.itemCount-buttonContainer button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: gray;
    border: 1px solid rgb(174, 172, 172);

}
.itemCount-buttonContainer button:hover{
    color: rgb(0, 0, 0);
}
