.itemCount-stock{
    margin:10px 0;
}
.itemCount-buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCount-buttonContainer p{
    margin: 15px 40px;
}
.itemCount-buttonContainer button{
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: gray;
    border: 1px solid rgb(174, 172, 172);

}
.itemCount-buttonContainer button:hover{
    color: rgb(0, 0, 0);
}
.addCart-button{
    width: 60%;
    margin: 10px 0 20px 0;
    padding: 10px ;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    background: linear-gradient(to top, rgb(0, 0, 0) , gray) ;
    border: none;
    color: white;
    border-radius: 10px;
    transition: all 500ms ease;

}
.addCart-button:hover{
    letter-spacing: 1.5px;
    transition: all 500ms ease;
}

